<div class="container-fluid border-top">
    <div class="row py-4 px-2 panel">
      <div class="col-12">
        <h2 class="text-center pb-2">আমাদের সেবা সমূহ</h2>
        <hr>
      </div>
  
      <div class="col-md-4 p-3 text-center ">
        <div class="raised services">
          <a routerLink="/shifting">
            <img class="services-image" src="assets/images/shifting.png">
            <div> বাসা বদল </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 p-3 text-center ">
        <div class="raised services">
          <a routerLink="/interior">
            <img class="services-image" src="assets/images/interior.jpg">
            <div> ইন্টেরিয়র ডিজাইন </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 p-3 text-center ">
        <div class="raised services">
          <a routerLink="/event">
            <img class="services-image" src="assets/images/event.jpg">
            <div> ইভেন্ট ম্যানেজমেন্ট </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 p-3 text-center ">
        <div class="raised services">
          <a routerLink="/van">
            <img class="services-image" src="assets/images/van.png">
            <div> ভ্যান/ট্রাক </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 p-3 text-center ">
        <div class="raised services">
          <a routerLink="/searching">
            <img class="services-image" src="assets/images/original.jpg">
            <div> বাসা খোঁজা </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <!-- <div class="head-dialog">
      সারাদিন রাস্তায় ফেরিওয়ালাদের মত ঘুরে ঘুরে বাসা খুঁজছেন?
      <br> গরমে ঘেমে নেয়ে একাকার?
      <br> আপনার বাসা খোঁজার এবং বাসা শিফট করার ঝামেলা থেকে মুক্ত করতে মনেরবাড়ি আছে আপনার পাশে।
    </div> -->
  
    <!-- <div class="row" style="margin-top:20px;margin-bottom:10px;">
      <div class="col-sm-4 mb-3">
        <img style="width:100%; height:auto;" src="assets/images/banner1.png">
      </div>
      <div class="col-sm-4 mb-3">
        <img style="width:100%; height:auto;" src="assets/images/banner2.png">
      </div>
      <div class="col-sm-4 mb-3">
        <img style="width:100%; height:auto;" src="assets/images/banner3.png">
      </div>
    </div> -->
  
    <div class="container">
      <div class="px-md-1">
        <div class="row p-4 mt-4 panel">
          <div class="col-12">
            <h2 class="text-center"> মনের-বাড়ি আপনার স্মার্ট ফোনে </h2>
            <hr>
          </div>
          <div class="col-md-4 text-right">
            <div class="app_texts">
              <div class="app_texts_title"> বাসা আপনার, বদলের ঝামেলা আমাদের </div>
              <div class="app_texts_details"> শেষ কবে বাসা বদলিয়েছেন? মনে আছে ঝামেলার কথা? এখন আপানার বাসা বদলের ঝামেলার দায়িত্ব নিচ্ছে মনেরবাড়ি। শধু ১মিনিটে
                একটা অর্ডার বাকি দায়িত্ব আমাদের।
              </div>
            </div>
            <div class="app_texts">
              <div class="app_texts_title"> ইভেন্ট ম্যানেজমেন্ট এখন ১মিনিটের বেপার </div>
              <div class="app_texts_details"> বিয়ে, গায়ে হলুদ বা জন্মদিন, অনুষ্ঠান যাই হোকনা কেন আপনার অনুষ্ঠানের সকল দায়িত্ব এখন মনেরবাড়ির। শুধু ১মিনিটের
                একটা অর্ডার ব্যাস। </div>
            </div>
  
          </div>
          <div class="col-md-4 app_image">
            <img src="assets/images/app_image.png">
          </div>
          <div class="col-md-4">
            <div class="app_texts">
              <div class="app_texts_title"> ইন্টেরিয়র ডিজাইন এখন অনেক সহজ এবং শুলভ করতে মনেরবাড়ি আপনার পাশে </div>
              <div class="app_texts_details"> আপানার বাসা, অফিস অথবা দোকান; ভিতর অথবা বাহির যাই হোকনা কেন, আপনার জন্য উপযুক্ত এবং মানসম্পন্ন সার্ভিস নিয়ে মনেরবাড়ি
                আপনার পাশে।</div>
            </div>
            <div class="app_texts">
              <div class="app_texts_title"> ভ্যান / ট্রাক এখন মনেরবাড়ির অ্যাপ স্ট্যান্ড এ </div>
              <div class="app_texts_details"> মালামাল পরিবহনের জন্য ভ্যান/ট্রাক এরজন্য ট্রাক স্ট্যান্ড এ যাবেন? মনেরবাড়ির অ্যাপএ অর্ডার করুন, মাত্র ১মিনিট
                এর বেপার।</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container-fluid">
      <div class="row py-4">
        <div class="col-md-2 text-right py-3 text-secondary">
          <h4>ফিচার নিউজঃ</h4>
        </div>
        <div class="col">
          <a href="http://www.news24bd.tv/details/10450/%E0%A6%A2%E0%A6%BE%E0%A6%95%E0%A6%BE%E0%A6%AF%E0%A6%BC-%E0%A6%AC%E0%A6%BE%E0%A6%B8%E0%A6%BE-%E0%A6%96%E0%A7%81%E0%A6%81%E0%A6%9C%E0%A7%87-%E0%A6%A6%E0%A7%87%E0%A6%AC%E0%A7%87-%E0%A6%AF%E0%A7%87-%E0%A6%85%E2%80%8D%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%AA"
            target="_blank">
            <img class="news-feature" src="assets/images/news24bd.gif" alt="">
          </a>
          <a href="https://barta24.com/details/%E0%A6%9C%E0%A6%BE%E0%A6%A4%E0%A7%80%E0%A7%9F/7848/%E0%A6%AE%E0%A6%A8%E0%A7%87%E0%A6%B0-%E0%A6%AE%E0%A6%A4%E0%A7%8B"
            target="_blank">
            <img class="news-feature" src="assets/images/barta24.svg" alt="">
          </a>
          <a href="https://bangla.dhakatribune.com/tech/2018/07/24/1519/%E0%A6%AE%E0%A6%A8%E0%A7%87%E0%A6%B0-%E0%A6%AE%E0%A6%A4%E0%A7%8B-%E0%A6%AC%E0%A6%BE%E0%A6%B8%E0%A6%BE-%E0%A6%96%E0%A7%81%E0%A6%81%E0%A6%9C%E0%A6%A4%E0%A7%87-%E0%A6%AE%E0%A6%A8%E0%A7%87%E0%A6%B0%E0%A6%AC%E0%A6%BE%E0%A7%9C%E0%A6%BF"
            target="_blank">
            <img class="news-feature" src="assets/images/dhakatribune.png" alt="">
          </a>
          <a href="http://techshohor.com/software/120377/%E0%A6%A2%E0%A6%BE%E0%A6%95%E0%A6%BE%E0%A6%AF%E0%A6%BC-%E0%A6%AC%E0%A6%BE%E0%A6%B8%E0%A6%BE-%E0%A6%96%E0%A7%81%E0%A6%81%E0%A6%9C%E0%A7%87-%E0%A6%A6%E0%A7%87%E0%A6%AC%E0%A7%87-%E0%A6%AF%E0%A7%87/"
            target="_blank">
            <img class="news-feature" src="assets/images/techshohor.png" alt="">
          </a>
          <a href="http://deshinfo.com.bd/%E0%A6%A2%E0%A6%BE%E0%A6%95%E0%A6%BE%E0%A6%AF%E0%A6%BC-%E0%A6%AC%E0%A6%BE%E0%A6%B8%E0%A6%BE-%E0%A6%96%E0%A7%81%E0%A6%81%E0%A6%9C%E0%A7%81%E0%A6%A8-%E0%A6%AE%E0%A6%A8%E0%A7%87%E0%A6%B0/"
            target="_blank">
            <img class="news-feature" src="assets/images/deshinfo.png" alt="">
          </a>
  
        </div>
      </div>
    </div>
  </div>
  
  <footer></footer>