<div class="container-fluid">
    <div class="row download-app">
      <div class="container">
        <div class="download-app_title"> আমাদের অ্যাপ ডাউনলোড করুন </div>
        <div class="download-app_image">
          <a href="https://play.google.com/store/apps/details?id=com.monerbari.nazmul" target="_blank">
            <img class="app-store" src="assets/images/play.png">
          </a>
          <!-- <img class="app-store" src="assets/images/ios.png"> -->
        </div>
      </div>
      <div class="container text-left">
        <div class="row">
          <div class="col-md-4 footer">
            <!-- <div class="footer-title">
              <h3>মনেরবাড়ি - monerbari </h3>
            </div> -->
            <div class="footer-list my-3">
              <ul class="list-unstyled">
                <li>
                  <a routerLink="/">হোম</a>
                </li>
                <li>
                  <a routerLink="/career">ক্যারিয়ার</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 footer">
            <div class="footer-list my-3">
              <ul class="list-unstyled">
                <!-- <li>
                  <a routerLink="/">বাসা খোঁজা</a>
                </li> -->
                <li>
                  <a routerLink="/shifting">বাসা বদল</a>
                </li>
                <li>
                  <a routerLink="/interior">ইন্টেরিয়র ডিজাইন</a>
                </li>
                <li>
                  <a routerLink="/event">ইভেন্ট ম্যানেজমেন্ট</a>
                </li>
                <li>
                  <a routerLink="/van">ভ্যান/ট্রাক</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 footer">
            <div class="footer-list my-3">
              <ul class="list-unstyled">
                <li>
                  <a routerLink="/privacy-policy">প্রাইভেসি পলিসি</a>
                </li>
                <li>
                  <a routerLink="/terms">টার্মস এন্ড কন্ডিশন </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid copy-right text-center">
        © 2018 Copyright:
        <a href="https://www.monerbari.com"> monerbari.com </a>
      </div>
    </div>
  </div>